--- 
layout: default 
---
{% assign colcount = 1 %}
{% if page.plateLocation %}{% capture colcount %}{{ colcount | plus:1 }}{% endcapture %}{%endif%}
{% if page.lineartLocation %}{% capture colcount%}{{  colcount | plus:1 }}{% endcapture %} {%endif%}
{% if page.hiero %} {% capture colcount%}{{ colcount | plus:1 }}{% endcapture %} {%endif%}
{% capture cols %}md-col-{{ 12 | divided_by: colcount }}{%endcapture%}
<amp-selector on="select:AMP.setState({selectedTab: event.targetOption})" [selected]="selectedTab" role="tablist" layout="container" class="ampstart-image-fullpage-contain ">
    <div role="tab" class="tabButton" selected option="photo">&nbsp;</div>
    <div role="tabpanel" class="tabContent">
        <amp-iframe id="plate" sandbox="allow-scripts allow-presentation allow-popups  allow-modals" allowfullscreen layout="fill" frameborder="0" src="{{page.plateLocation}}">
            <amp-img placeholder height="720" alt="{{ page.title }}" layout="fill" src="{{ site.url }}/{{ page.cover }}"></amp-img>
        </amp-iframe>
    </div>
    {% if page.lineartLocation %}
    <div role="tab" class="tabButton" option="lineart">&nbsp;</div>
    <div role="tabpanel" class="tabContent">
        <amp-iframe id="lineart" sandbox="allow-scripts allow-presentation allow-popups  allow-modals" allowfullscreen layout="fill" frameborder="0" src="{{page.lineartLocation}}">
            <amp-img placeholder alt="{{ page.title }}" class="contain" layout="fill" src="{{ site.url }}/{{ page.cover }}"></amp-img>
        </amp-iframe>
    </div>
    {% endif %}
            {% if page.hiero %}

    <div role="tab" class="tabButton" option="hiero">&nbsp;</div>
    <div role="tabpanel" class="tabContent">
        <amp-img alt="{{ page.title }}" class="contain white pb2 pt2 pl2 pr2" layout="fill" src="/assets/images/{{page.hiero}}"></amp-img>
    </div>
    {%endif%}
</amp-selector>
<amp-state id="btnBack">
    <script type="application/json">
    {
  
  "photo": {
    "photoBtn": "center md-col sm-col-12 {{cols}} align-middle caps sand-selected",
    "lineartBtn": "center md-col sm-col-12 {{cols}} align-middle caps sand",
    "hieroBtn": "center md-col sm-col-12 {{cols}} align-middle caps sand"
  },
  "lineart": {
    "photoBtn": "center md-col sm-col-12 {{cols}} align-middle caps sand",
    "lineartBtn": "center md-col sm-col-12 {{cols}} align-middle caps sand-selected",
    "hieroBtn": "center md-col sm-col-12 {{cols}} align-middle caps sand"
  },
  "hiero": {
    "photoBtn": "center md-col sm-col-12 {{cols}} align-middle caps sand",
    "lineartBtn": "center md-col sm-col-12 {{cols}} align-middle caps sand",
    "hieroBtn": "center md-col sm-col-12 {{cols}} align-middle caps sand-selected"
  }
}
    </script>
</amp-state>
<nav>
    <ul id="detailsBar" class="cf tabBar">
        <li tabindex="0" role="button" id="photoBtn" class="center md-col sm-col-12 {{cols}} align-middle caps sand-selected" 
        [class]="btnBack[selectedTab].photoBtn" on="tap:AMP.setState({selectedTab: 'photo'})">Photograph</li>
        {% if page.lineartLocation %}
        <li tabindex="1" role="button" id="lineartBtn" class="center md-col sm-col-12 {{cols}} align-middle  caps sand" 
        [class]="btnBack[selectedTab].lineartBtn" on="tap:AMP.setState({selectedTab: 'lineart'})">Lineart</li>
        {% endif %}
        {% if page.hiero %}
        <li tabindex="2" role="button" id="heiroBtn" class="center md-col  sm-col-12 {{cols}} align-middle  caps sand " 
        [class]="btnBack[selectedTab].hieroBtn" on="tap:AMP.setState({selectedTab: 'hiero'})">Hieroglyphs</li>
        {% endif %}
        <li tabindex="3" role="button" class="center md-col sm-col-12 {{cols}} align-middle  caps sand" on="tap:detailsBar.scrollTo()">Details</li>
    </ul>
</nav>
<main id="content" role="main" class="cf">
    <article class="photo-article">
        
        <div class="px3 mb4 cf">
            <h2 class="mt4 mb2">{{ page.title }}</h2>
            <div class="italic">{{page.location}}</div>
            <amp-selector role="tablist" layout="container" class="ampTabContainer">
                <div role="tab" class="tabButton sand" selected option="a1">Description</div>
                <div role="tabpanel" class="tabContent">{{page.longdescription}}</div>
                <div role="tab" class="tabButton sand" option="b1">Details</div>
                <div role="tabpanel" class="tabContent">
                  <dl>
                    <dt>Date</dt>
                    <dd>Middle Kingdom, Dynasty 12, Reign of Amenemhat II (c. 1918-1884 BCE).</dd>
                    <dt>Location</dt>
                    <dd>{{page.detailedLocation}}.</dd>
                    <dt>Medium</dt>
                    <dd>{{page.medium}}.</dd>
                    <dt>Technique</dt>
                    <dd>{{page.technique}}.</dd>
                    <dt>Parent Context</dt>
                    <dd>{{page.parentContext}}</dd>
                  </dl>
                </div>
                <div role="tab" class="tabButton sand" option="c1">Referencing</div>
                <div role="tabpanel" class="tabContent">
                  
                <dl>
                  <dt>Data Credits
                  </dt>
                  <dd>Compiled by {{page.authors}}{% if page.authors %} and{% endif %} the Beni Hassan Research Group with resources from the Macquarie University Ancient Cultures Research Centre, and the Australian Centre for Egyptology.
                  </dd>
                  <dt>Project Funding
                  </dt>
                  <dd>Supported by the Australian Research Council Discovery Project scheme: DP160102223 "Measuring meaning in Egyptian art: A new approach to an intractable problem" held by N. Kanawati (MQ), L. Evans (MQ), A. Woods (MQ) and J. Kamrin (Met), the Macquarie University Department of Ancient History, and the Macquarie University Faculty of Arts.
                  </dd>
                  <dt>Original Citation
                  </dt>
                  <dd>{{page.mainCitation}} {{page.plateCite}}{{page.lineCite}}
                  </dd>

                  <dt>Rights</dt>
                <dd>Recorded and published with permission from the Egyptian Ministry of Antiquities. Photographs by Effy Alexakis as part of research on site. Copyright Macquarie University 2018. All rights reserved.</dd>
<dt>Cite this</dt> <dd>{{page.authors}} "{{page.title}}." In <span class="italic">The Beni Hassan Visual Dictionary: Khnumhotep II</span>, edited by Alexandra Woods, Brian Ballsun-Stanton, and Nicolle Leary. Sydney: Macquarie University, 2018. https://benihassan.com{{page.url}}</dd>
                </dl>

                  
                  <div class="mb4 px3 radhakrishna" align="left">
        <amp-social-share type="twitter" width="45" height="33"></amp-social-share>
        <amp-social-share type="whatsapp" width="45" height="33"></amp-social-share>
        <amp-social-share type="gplus" width="45" height="33"></amp-social-share>
        <amp-social-share width="45" height="33" type="email"></amp-social-share>
      </div> 


                </div>
            </amp-selector>
            {{content}}
        </div>
        <hr> {% include footer.html %}
</main>